.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 10px;
    position: sticky;
}

#mainFeed {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 1px 2px 3px gray;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    overflow-y: scroll;
    background-color: white;
    max-height: 85vh;
}

#sort {
    width: 10%;
    margin: auto;
}

.topButtons {
    display: flex;
    flex-direction: row;
    width: 170%;
}

#emptyPost {
    display: none;
    font-size: small;
    color: red;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: darkgray;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: whitesmoke;
    }
}